<div class="header">
    <a href="/">
        <div class="header-logo">
            MembersOnly
        </div>
    </a>

    <% if (!locals.currentUser) { %>
        <div class="logged-out-header">
            <a href="/log-in">Log in</a>
            <a href="/sign-up">Sign up</a>
        </div>
    <% } else { %>
        <div class="logged-in-header">
            <div class="logged-in-greeting">
                Hi <%= locals.currentUser.first_name %>!
            </div>

            <div class="admin-header">
                <% if (locals.currentUser.is_admin) { %>
                    <div>(Admin)</div>
                <% } else { %>
                    <a href="/set-admin">Become an admin</a>
                <% } %>
            </div>

            <a class="log-out" href="/log-out">Log Out</a>
        </div>
    <% } %>
</div>