<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <div class="header">
        <% if (!locals.currentUser) {%>
            <a href="/log-in">Log in</a>
            <a href="/sign-up">Sign up</a>
        <%} else {%>
            <div>
                <p>Welcome <%=locals.currentUser.first_name%>!</p>
                <a href="/log-out">Log Out</a>
            </div>
            <div>
                <a href="/create">Create a message</a>
            </div>
        <%};%>
    </div>
    <div class="content">

    </div>
</body>
</html>