<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only - Post a new message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="content">
        <div class="content-head">
            <h1>Create a new message</h1>
        </div>
        
        <div class="content-form">
            <div class="errors-container">
                <%- include('../partials/errors.ejs') %>
            </div>
            <form action="/create" method="POST">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <label for="message">Message</label>
                    <input type="text" id="message" name="message" required>
                </div>
                <button type="submit">Post</button>
            </form> 
        </div>
    </div>
</body>
</html>